@media only screen and (min-width: 768px) {
    .main-randomtravel-body {
      width: 43vw;
      margin-left: 2vw;
    }
    .main-randomtravel {
      width: 43vw;
      background: linear-gradient(rgb(255, 255, 255) 0%, rgb(15, 48, 232) 10%);
      border-radius: 2vw;
      display: flex;
      position: relative; /* Add this line */
    }
    .random-image {
      border-radius: 2vw;
      width: 100%;
      height: 100vh;
      object-fit: cover;
      opacity: 0.5;
      transition: opacity 500ms 0ms ease-in-out;
    }
    .text-img {
      position: absolute; /* Add this line */
      top: 70%; /* Center vertically */
      left: 59%; /* Adjust horizontal position */
      transform: translateY(-50%); /* Adjust to vertically center */
      color: rgb(255, 255, 255);
      font-size: 3rem;
      opacity: 1; /* Ensure text opacity is 100% */
      z-index: 10; /* Ensures the text is on top */
    }
    .p-text-img{
        font-size: 1.2rem;
        width: 18vw;
    }
  }
  